
.card {
  position: relative;
  overflow: hidden; 
}

.card:hover {
  transform: scale(1.05);
}


.plus-symbol {
  position: absolute;
  font-size: 1.5rem;
  color: green;
  animation: eject 1s linear infinite;
  pointer-events: none;
}

.plus-symbol.blue {
  color: blue;
}


@keyframes eject {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
  }
}