.header {
  background-color: #004d40;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 100px; /* Adjusted height for the logo */
  margin-right: 1rem;
}

.title {
  display: inline;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive; /* Apply the Lobster font */
}

@media (max-width: 768px) {
  .header {
    flex-direction: row; /* Ensure logo and text are in a row on mobile */
    justify-content: center; /* Center the content */
    padding: 0.5rem;
  }

  .logo {
    height: 80px; /* Adjusted height for mobile */
    margin-right: 0.5rem; /* Adjust margin for mobile */
  }

  .title {
    font-size: 1.25rem;
  }
}