.hero-section {
  background-image: url('../assets/Hero2.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the hero section is below the navbar */
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text readability */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-section {
    background-position: right center; /* Center the right side of the image on mobile */
  }

  .hero-content h1 {
    font-size: 2rem; /* Adjust font size for mobile */
  }

  .hero-content p {
    font-size: 1rem; /* Adjust font size for mobile */
  }
}